.container {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 530px) {
        display: block;

        > * {
            margin: 20px 0;
        }
    }
}

.logo {
    margin-right: 15px;
}

.companyName {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
}

.flex {
    display: flex;
    align-items: center;
}

.span {
    margin-right: 16px;
}

.copyright {
    margin-top: 64px;
}

