.container {
    position: relative;
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
    color: #FFFFFF;

    p {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        opacity: 0.6;
    }

    &::before {
        content: '';
        position: absolute;
        height: 860px;
        width: 95%;
        background: #316099;
        border-radius: 0px 200px 0px 0px;
        left: 0;
        bottom: 0;
    }
}

.wrapper {
    position: relative;
    padding: 100px 210px 64px;
}